font-family: 'IBM Plex Serif', serif;

body{
  margin: 0;
  padding: 0;
}

ul {
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-size: .8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  height: 100vh;
  width: 100vw;
}

img{
  border-radius: 100vw;
  clip-path: circle(10vw at center);
  height:30vw;
  padding: 5vw;
  transition: width 250ms, height 250ms, clip-path 1s;
  width:30vw;

}

img:hover{
  clip-path: circle(100vw at center);
  height: 35vw;
  width: 35vw;
}

@media only screen and (max-width: 800px) {
  ul {
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   flex-direction: column;

   height: 100vh;
   width: 100vw;
  }
  img{
   width: 50vw;
   height: 50vw;
   clip-path: circle(50vw at center);
  }
  
  img:hover{
   clip-path: circle(100vw at center);
   height: 60vw;
   width: 60vw;
  }
}
