@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400&display=swap');



/*---------------FORMATTING-----------------*/
@media only screen and (max-width: 700px){
*{font-size: 50px;}
h1{font-size: 2em }

}

*{
	font-family: 'Libre Baskerville', serif;
	font-size: 16px;
}
h1{ 
	font-size: 3em 
}

a {
	color: black;
	text-decoration: none;

}




/*----------------HEADER/MENU-----------------*/
.header{
	display: flex;
	justify-content: center;
	align-items: center;

}
.header a {
	font-size: 1em;
}
.header span::before{
	content: "1";
	animation: glitch infinite 2s;
}

.menu a{
	letter-spacing: 0em;
	transition: background-color .5s, color .5s, letter-spacing .5s;
}

.menu a:hover{
	background-color:black;
	color: white;
	letter-spacing: 3em
}


.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/*---------------------TEXTPG.1--------------------*/
.text{	
 	 	display: flex;
 	justify-content: center;
 	height: 100vh;
 	width: 100vw;
}
.text p{
 	width: 70vw;

}
.text span{
	background-color:white;
	letter-spacing: 0em;
	transition: background-color .5s, color .5s, letter-spacing .5s;
}

.text span:hover{
	background-color:grey;
	color: white;
	letter-spacing: .5em
}

.text a{
	position: relative;
	animation: shaking infinite .2s;
	letter-spacing: 0em;
	transition: background-color .5s, color .5s, letter-spacing .5s;
}

.text a:hover{
	background-color:black;
	color: white;
	letter-spacing: 5em
}

/*---------------------TEXTPG.2--------------------*/

.text2{	
 	 	display: flex;
 	justify-content: center;
 	height: 100vh;
 	width: 100vw;
}
.text2 p{
 	width: 70vw;

}
.text2 span{
	background-color:white;
	letter-spacing: 0em;
	transition: background-color .5s, color .5s, letter-spacing .5s;
}

.text2 span:hover{
	background-color:grey;
	color: white;
	letter-spacing: -.2em
}

.text2 a{
	position: relative;
	animation: shaking infinite .2s;
	letter-spacing: 0em;
	transition: background-color .5s, color .5s, letter-spacing .5s;
}

.text2 a:hover{
	background-color:black;
	color: white;
	letter-spacing: 5em
}

/*---------------------TEXTPG.3--------------------*/
.text3{	
 	display: flex;
 	justify-content: center;
 	height: 100vh;
 	width: 100vw;
}
.beside{
	width: 10vw;
	color: white;
}

.beside {
	background-color:white;
	letter-spacing: -.02em;
	transition: background-color .5s, color .5s, letter-spacing .5s;
}

.beside:hover{
	background-color:grey;
	color: white;
	letter-spacing: 1em;
}

.beside a{
	position: relative;
	animation: shaking infinite .2s;
	letter-spacing: 0em;
	transition: background-color .5s, color .5s, letter-spacing .5s;
}

.beside a:hover{
	background-color:black;
	color: black;
	letter-spacing: 5em
}


/*------------------TEXTPG.4--------------------*/

.text4{
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100vw;
}

.text4 p{
 	width: 70vw;
 	line-height: 0px;
 	background-color:white;
	color: black;
	opacity: 100%;
 	transition: line-height .5s, background-color .5s, color .5s, opacity .5s;
}
.text4 p:hover{
	line-height: 2em;
	background-color:grey;
	color: white;
	opacity: 50%;
}

.text4 a{
	position: relative;
	animation: shaking infinite .2s;
	letter-spacing: 0em;
	color: white;
	transition: background-color .5s, color .5s, letter-spacing .5s, opacity .5s;
}
.text4 a:hover{
	background-color:black;
	color: white;
	letter-spacing: 5em;
	opacity: 100;
}

/*------------------TEXTPG.5--------------------*/

.text5{
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100vw;
 	transition: background-color .5s;
}

.text5 p{
 	width: 70vw;
 	background-color:white;
	color: white;
	opacity: 100%;
 	transition: background-color .5s, color .5s;
}
.text5 p:hover{
	color: white;
	opacity: 100;
}
.text5:hover{
	background-color: black;
}
.text5:hover >p{
	background-color: black;
}

.text5 a{
	position: relative;
	animation: shaking infinite .1s;
	color: white;
 	transition: background-color .5s, color .5s, letter-spacing .5s;
}

.text5 a:hover{
	background-color:black;
	color: white;
	letter-spacing: 2em;
}
.text5 a:visited{
	color: white;
	background-color: red;
	font-size: 5em;
}

.text5 a:active{
	background-color:red;
	color: white;
	font-size: 3em;
}



/*---------------ANIMATION--------------------*/
@keyframes glitch{
	0%{content: "4"}
	1%{content: "1"}
	10%{content: "1"}
	11%{content: "3"}
	20%{content: "3"}
	21%{content: "4"}
	45%{content: "2"}
	46%{content: "5"}
	99%{content: "6"}
	100%{content: "3"}
}

@keyframes shaking {
	0%{left: 0vw;}
	50%{left: .07vw;}
	100%{left: 0vw;}
}

