/*font and general formatting*/
font-family: 'IBM Plex Serif', serif;

body{
  margin: 0;
  padding: 0;
}

/*properties of images*/
img{
  animation: fadeIn 3s ease;
  border-radius: 100vw;
  clip-path: circle(10vw at center);
  padding: 5vw;
  transition: height .5s, width .5s, clip-path 1s;
  height: 20vw;
  width: 20vw;
}

img:hover{
  clip-path: circle(12vw at center);
  height: 25vw;
  width: 25vw;
}

/*question 4*/
input{
  font-family: "IBM Plex Serif";
  font-style: italic;
}

button{
  font-family: "IBM Plex Serif";
  font-style: italic;
  background-color: black;
  color: white;
  text-decoration: none;
  border: none;
}



/*question header*/
h2{
  animation: fadeIn 3s;
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: normal;
  text-align: center;
}
#question_number{
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-wrap: wrap;
  top: 84vh;
  width: 100vw;
  z-index: 1;
}

#question{
  position: absolute;
  top: 85vh;
}




/*parent*/
ul {
  display: flex;
  justify-content: center;
  padding: 0px;
  align-items: center;
  height: 90vh;
  width: 100vw;
  z-index: 0;
}

/*grandparent*/
section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}




/*conclusion*/
p{
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Serif";
  font-style: italic;
  text-align: center;

  transition: font-size 2s;
}
.parent{
  font-size: 2vw;
  opacity: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vw;
}
.parent{
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}
.parent:nth-of-type(2){
  animation-delay: 1s;
}
.parent:nth-of-type(3){
  animation-delay: 2s;
}
.parent:nth-of-type(4){
  animation-delay: 3s;
}
.parent:nth-of-type(5){
  animation-delay: 4s;
}

.end{
  font-size: 5vw;
  transition: opacity .6s;
}

.end:hover{
  opacity: 20%;
}

.gp{

}
/*animation and image properties DURATION MUST MATCH JS*/
#imgAnimation{
  height: 30vw;
  width: 30vw;
  clip-path: circle(25vh at center);
  animation: fadeInOut 2s ease infinite;
  transition: clip-path 2s, height 1s, width 1s,;
  transition-timing-function: ease;
}
#imgAnimation:hover{
   clip-path: circle(27vh at center);
   height: 33vw;
   width: 33vw;
  }
@keyframes fadeInOut {
  0% {opacity: 0%;}
  50% {opacity: 100%;}
  100% {opacity: 0%;}
}

#loading{
  animation: fadeInOut 2s ease infinite;
}

@keyframes fadeIn{
  0%{opacity: 0;}
  100%{opacity: 100%;}
}

@media only screen and (max-width: 800px) {
  #question_number{
    top: 70vh;
  }

  #question{
    top: 72vh;
  }

  #imgAnimation{
    height: 60vw;
    width: 60vw;
  }

  #imgAnimation:hover{
   clip-path: circle(27vh at center);
   height: 60vw;
   width: 60vw;
  }

  .parent{
    font-size: 5vw;
  }
  .end{
    font-size: 10vw;
  }

  img{
    animation: fadeIn 6s ease;
    width: 50vw;
    height: 50vw;
    clip-path: circle(50vw at center);
  }
  
  img:hover{
   clip-path: circle(100vw at center);
   height: 60vw;
   width: 60vw;
  }

  ul {
   justify-content: center;
   align-items: center;
   flex-direction: column;

   height: 100vh;
   width: 100vw;
  }
}
/*MOBILE ANIMATIONS*/


