@font-face {font-family: "Tarsus W03 Light";
  src: url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.eot"); /* IE9*/
  src: url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.woff2") format("woff2"), /* chrome、firefox */
  url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.woff") format("woff"), /* chrome、firefox */
  url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.svg#Tarsus W03 Light") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Tarsus W03 Medium";
  src: url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.eot"); /* IE9*/
  src: url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.woff2") format("woff2"), /* chrome、firefox */
  url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.woff") format("woff"), /* chrome、firefox */
  url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.svg#Tarsus W03 Medium") format("svg"); /* iOS 4.1- */
}

*{
	font-family: "Tarsus W03 Light";
}

body{
	transition: background-color 2s, opacity 2s;
	background-color: #6D4027;
	width: 270vw;
	height: 100vh;
}

#main{
	color: #7F5639;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

section{
	transition: opacity 2s;
}

div{
	transition: padding-left 2s, padding 2s;
	transition-timing-function: ease;
	display: flex;
	align-items: center;
	height: 100vh;
	width: 90vw;
	opacity: 100;
}

button{
	transition: opacity 1s;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 4em;
  background-color: transparent;
  text-decoration: underline;
}

.back{
	transition: opacity 1s;
	color: #4F321F;
	position: fixed;
	padding: 1vw;
	text-decoration: none;
}

button:hover{
	opacity: 75%;
}

.disappear{
	opacity: 0;
}

.offScreen{
	padding-left: 100vw;
}

.move{
	padding-right: 100vw;
}

.bkgChange1{
	background-color: #6D4027;
}

.bkgChange2{
	background-color: #5B3421;
}

.bkgChange3{
	background-color: #4F321F;
}

.changeBkg{
	background-color: #FFE1BD;
}

div button{
	padding: 1em;
}
#div1{
	background-color: #6D4027;
}

#div2{
	background-color: #5B3421;
}

#div3{
	background-color: #4F321F;
}

#div1 button{
	color: #4F321F;
	transition: opacity .3s;
}

#div2 button{
	color: #7F5639;
	transition: opacity .3s;
}

#div3 button{
	color: #A87858;
	transition: opacity .3s;
}



