@font-face {font-family: "Tarsus W03 Light";
  src: url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.eot"); /* IE9*/
  src: url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.woff2") format("woff2"), /* chrome、firefox */
  url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.woff") format("woff"), /* chrome、firefox */
  url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.svg#Tarsus W03 Light") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Tarsus W03 Medium";
  src: url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.eot"); /* IE9*/
  src: url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.woff2") format("woff2"), /* chrome、firefox */
  url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.woff") format("woff"), /* chrome、firefox */
  url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.svg#Tarsus W03 Medium") format("svg"); /* iOS 4.1- */
}

*{
	font-family: "Tarsus W03 Light";
}

body{
	background-color: #6D4027;
	width: 500vw;
	height: 500vh;
}


#main{
	color: #7F5639;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.disappear{
	opacity: 0;
}

p{
	transition: transform 1s;
	display: inline-block;
	position: relative;
	font-size: 2.5em;
	color: #4F321F;
	padding: 0;
	margin: 0;
}

button{
  margin: 0;
  padding: 0;
  border: none;
  font-size: 2vw;
  background-color: transparent;
  text-decoration: underline;
}

p:nth-of-type(1){

transition: transform 1s;	left: 30vw;
	top: 50vh;
}

p:nth-of-type(2){

transition: transform 1s;	left: 60vw;
	top: 58vh;
	transform: rotate(9deg);
}

p:nth-of-type(3){

transition: transform 1s;	transform: rotate(26deg);
	left: 100vw;
	top: 90vh;
}

p:nth-of-type(4){

transition: transform 1s;	transform: rotate(36deg);
	top: 140vh;
	left: 135vw;
}

p:nth-of-type(5){

transition: transform 1s;	transform: rotate(67deg);
	left: 140vw;
	top: 210vh;
}

p:nth-of-type(6){

transition: transform 1s;	transform: rotate(90deg);
	left: 120vw;
	top: 280vh;
}

p:nth-of-type(7){

transition: transform 1s;	transform: rotate(109deg);
	left: 95vw;
	top: 335vh;
}

p:nth-of-type(8){

transition: transform 1s;	transform: rotate(129deg);
	left: 65vw;
	top: 385vh;
}


p:nth-of-type(9){
transition: transform 1s;	transform: rotate(149deg);
	left: 15vw;
	top: 425vh;
}

p:nth-of-type(10){
	transition: transform 1s;
	transform: rotate(165deg);
	left: -50vw;
	top: 455vh;
}

p:nth-of-type(11){
	transition: transform 1s;
	/*Was I Lying?*/
	transform: rotate(180deg);
	animation: shake1 .1s infinite;
	left: -108vw;
	top: 465vh;
}

p:nth-of-type(12){
	transition: transform 1s;
	transform: rotate(209deg);
	animation: shake2 .1s infinite;
	left: -158vw;
	top: 455vh;
}


p:nth-of-type(13){
	transition: transform 1s;
	animation: shake3 .05s infinite;
	transform: rotate(229deg);
	left: -198vw;
	top: 415vh;
}

p:nth-of-type(14){
	transition: transform 1s;
	animation: shake4 .05s infinite;
	transform: rotate(249deg);
	left: -230vw;
	top: 365vh;
}

p:nth-of-type(15){
	transition: transform 1s;
	animation: shake5 .05s infinite;
	transform: rotate(270deg);
	left: -250vw;
	top: 315vh;
}

p:nth-of-type(16){
	transition: transform 1s;
	animation: shake6 .05s infinite;
	transform: rotate(299deg);
	left: -260vw;
	top: 255vh;
}

p:nth-of-type(17){
	transition: transform 1s;
	animation: shake7 .05s infinite;
	transform: rotate(329deg);
	left: -230vw;
	top: 215vh;
}


p:nth-of-type(18){
	transition: transform 1s;
	animation: shake8 .05s infinite;
	transform: rotate(349deg);
	left: -200vw;
	top: 185vh;
}

.disappear{
	opacity: 0;
}



button{
	display: inline-block;
	position: relative;
	font-size: 2.5em;
	color: #4F321F;
	padding: 0;
	margin: 0;
	left: 180vw;
	top: 175vh;
}

p:nth-of-type(1):hover{
	transform: rotate(0);
}

p:nth-of-type(2):hover{
	transform: rotate(0);
}

p:nth-of-type(3):hover{
	transform: rotate(0);
}

p:nth-of-type(4):hover{
	transform: rotate(0);
}

p:nth-of-type(5):hover{
	transform: rotate(0);
}

p:nth-of-type(6):hover{
	transform: rotate(0);
}

p:nth-of-type(7):hover{
	transform: rotate(0);
}

p:nth-of-type(8):hover{
	transform: rotate(0);
}


p:nth-of-type(9):hover{
	transform: rotate(0);
}

p:nth-of-type(10):hover{
	transform: rotate(0);
}

p:nth-of-type(11):hover{
	transform: rotate(0);
}

p:nth-of-type(12):hover{
	transform: rotate(0);
}


p:nth-of-type(13):hover{
	transform: rotate(0);
}

p:nth-of-type(14):hover{
	transform: rotate(0);
}

p:nth-of-type(15):hover{
	transform: rotate(0);
}

p:nth-of-type(16):hover{
	transform: rotate(0);
}

p:nth-of-type(17):hover{
transform: rotate(0);
}


p:nth-of-type(18):hover{
	transform: rotate(0);
}



p:nth-of-type(19):hover{
	transform: rotate(0);
}

@keyframes shake1{
	0%{left: -108vw;}
	50%{left: -108.02vw;}
	100%{left: -108vw;}
}

@keyframes shake2{
	0%{left: -158.09vw;}
	50%{left: -158vw;}
	100%{left: -158.09vw;}
}

@keyframes shake3{
	0%{left: -198vw;}
	50%{left: -198.2vw;}
	100%{left: -198vw;}
}

@keyframes shake4{
	0%{left: -230.4vw;}
	50%{left: -230vw;}
	100%{left: -230.4vw;}
}

@keyframes shake5{
	0%{left: -250vw;}
	50%{left: -250.8vw;}
	100%{left: -250vw;}
}

@keyframes shake6{
	0%{left: -260vw;}
	50%{left: -262vw;}
	100%{left: -260vw;}
}

@keyframes shake7{
	0%{left: -230vw;}
	50%{left: -234vw;}
	100%{left: -230vw;}
}

@keyframes shake8{
	0%{left: -200vw;}
	50%{left: -206vw;}
	100%{left: -200vw;}
}







