@font-face {font-family: "Tarsus W03 Light";
  src: url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.eot"); /* IE9*/
  src: url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.woff2") format("woff2"), /* chrome、firefox */
  url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.woff") format("woff"), /* chrome、firefox */
  url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../assets/Tarsus_Light/@font-face/ce86d9d8359d9d332a1d3a3142a51eeb.svg#Tarsus W03 Light") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Tarsus W03 Medium";
  src: url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.eot"); /* IE9*/
  src: url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.woff2") format("woff2"), /* chrome、firefox */
  url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.woff") format("woff"), /* chrome、firefox */
  url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../assets/Tarsus_Medium/@font-face/56f9cf3619be3359ef718b6fe6417249.svg#Tarsus W03 Medium") format("svg"); /* iOS 4.1- */
}

*{
	font-family: "Tarsus W03 Light";
  color: #7F5639;
}

body{
  transition: background-color 2s;
  background-color: #FFE1BD;
  width: 360vw;
  height: 100vh;
}

h2{
  padding: 1em;
  font-size: 5em;
}

p{
  font-size: 2em;
}

button{
  transition: opacity 1s;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 2em;
  background-color: transparent;
}

button:hover{
  opacity: 50%;
}

section{
  transition: opacity 2s, padding-left 2s;
  display: flex;
  align-items: center;
  height: 100vh;
}

div{
  width: 90vw;
}

.offScreen{
  padding-left: 100vw;
}

.disappear{
  opacity: 0;
}

.bkgChange{
  background-color: #6D4027;
}

