/*---------------------------------------General Page Shit-------------------------------------*/
@font-face {
  font-family: 'Frutiger-Condensed';
  src:  url('./fonts/Frutiger-Cn.woff') format('woff');
}
*{
	font-family: Frutiger-Condensed
}
body{
	margin: 0;
	padding: 0;
	background-color: #ffdad5;
}
#main{
	height: 300vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.blank-space{
	height: 13vw;
}


.button{
	height: 9vw;
	transition: height 1s;
	margin: auto;
	padding: 10vw;
}

.button:hover{
	height: 10vw;
}


/*---------------------------------------CSS To-Go-------------------------------------*/
.border{
	border: .2vw solid black;
	margin-top: -.2vw;
    margin-left: -.2vw;
}

.shadow{
	box-shadow: .3vw .3vw;
	color: black;
}

.lucy{
	background-color: #466895;
}
.joji{
	background-color: #D90000;
}
.jai{
	background-color: tan;
}
.roy{
	background-color: teal;
}

.letter{
	background-color: #F5DDB8;
}
/*---------------------------------------MENU BAR-------------------------------------*/
#menu{
	position: fixed;
	width: 100vw;
	height: 10vw;
	display: flex;
	align-content: space-around;
	z-index: 100;
}
#menu img{
	padding: 2vw;
}


/*---------------------------------------Slideshow-------------------------------------*/
.slideshow{
	background-color: #7f5e67;
	width: 100vw;
	height: 20vw;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.slideshow img{
	height: 15vw;
	width: 15vw;
}

.slideshow img{
	height: 15vw;
	width: 15vw;
}

/*---------------------------------------Articles-------------------------------------*/
.articles{
	display: flex; 
	width: 100vw;
}

.info{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50vw;
	padding-bottom: 3vw;
}

.info h2{
	font-size: 2vw;
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 0;
	text-align: center;
}
.info img{
	margin: 2vw;
	width: 25vw;
}

.linking{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

a{
	color: black;
	background-color: white;
	padding-left: .9vw;
	padding-right: .9vw;
	border-radius: 100vw;
	text-decoration: none;
	font-size: 2vw;
}
a:hover{
	font-size: 2.2vw;
	box-shadow: .7vw .7vw;}

/*----------------------------------------TICKER--------------------------------------------*/
.marquee {
	position: fixed;
	bottom: 2vh;
	background-color: white;
	border-radius: 100vw;
	color: black;
  	width: 90vw;
  	margin: 2vw;
  	padding: 2vw;
  	font-size: 2vw;
  	overflow: hidden;
 	box-sizing: border-box;
	z-index: 101;
}

.marquee span {
  display: inline-block;
  width: max-content;
  /* show the marquee just outside the paragraph */
  will-change: transform;
  animation: marquee 30s linear infinite;
}

.marquee span:hover {
  animation-play-state: paused
}


@keyframes marquee {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-50%, 0); }
}


/* Respect user preferences about animations */

@media (prefers-reduced-motion: reduce) {
  .marquee span {
    animation-iteration-count: 1;
    animation-duration: 0.01; 
    /* instead of animation: none, so an animationend event is 
     * still available, if previously attached.
     */
    width: auto;
    padding-left: 0;
  }
}

/*----------------------------------------Banner--------------------------------------------*/
.banner{
	height: 50vh;
}

/*----------------------------------------Reading--------------------------------------------*/
.reading{
	margin: 1vw;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60vw;
}

h3{
	padding: 1vw;
}