*{
	font-family: sans-serif;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

div{
	opacity: 100%;
	transition: opacity .5s;
}

div:hover{
	opacity: 30%;
}

a {
	opacity: 100%;
 	transition: opacity .5s;
}

a:hover{
	opacity: 30%;
}


/*------------------div variants---------------------*/
.br{
	flex-basis: 100%;
}
.div1{
	height:15vw;
	width: 15vw;
}

.div2{
	height: 15vw;
	width: 10vw;
}

.div3{
	height: 15vw;
	width: 60vw;
}

/*------------------container-----------------*/
.container1{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 52vw;

}

.container2{
	height: 20vw;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
/*-----------------------overlap-------------------------*/
.overlapNone{
	position: relative;
	width: 15vw;
}

.overlapNone div{
	position: absolute;
}


.overlap1{
	position: relative;
	width: 10vw;
}

.overlap1 div{
	position: absolute;
	top:0;
}

.overlap2{
	position: relative;
	width: 15vw;
}

.overlap2 div{
	position: absolute;
	top:0;
}

.overlap3{
	position: relative;
	width: 60vw;
}

.overlap3 div{
	position: absolute;
	top:0;
}

/*----------------------stripe variants-------------------*/
/*stripe code inspired by https://love2dev.com/blog/css-background-stripes/ */

.stripesBlack{
	background: repeating-linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0) .01vh, #000 .01vh, #000 .02vh); 
}

.stripesYellow{
	background: repeating-linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0) .01vh, #EBDC6C .01vh, #EBDC6C .02vh); 
}

.stripesBlue{
	background: repeating-linear-gradient(135deg, rgba(0,0,0,0), rgba(0,0,0,0).01vh, #CAD8F0 .01vh, #CAD8F0 .02vh); 
}

.stripesRed{
	background: repeating-linear-gradient(45deg, rgba(0,0,0,0), rgba(0,0,0,0) .01vh, #E69692 .01vh, #E69692 .02vh); 
}