@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');

body{
	background-color: #7C3E20;
	height: 100vh;
	width: 1000vw;
}

*{
	color: #A67B60;
	font-family: 'Zen Antique Soft', serif;
}

div{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 1000vw;
}